<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server" value="NS-W7-DEV\SQLEXPRESS"/>
    <add key="dbName" value="AuthService"/>
    <add key="login" value="admin"/>
    <add key="pwd" value="star01moon"/>
    <add key="folderName" value="DBModel"/>
    
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
